// Navigation Styles here

header {
    display: flex;
    padding: 15px;
    .title {
        width: 25%;
        padding-top: 5px;
        border: 1px solid red;
    }
    nav {
    width: 75%;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid green;
    a {
        padding: 15px;
        text-decoration: none;
    }
    }
}

.main-container {
    width: 97%;
    margin-left: 1.6%;
    border-top: 1px dashed @navigation-border;
}

.top-content {
    display: flex;
    
    img {
        margin-bottom: 20px;
        border: 1px solid blue;
    }
}

.content-section {
    display: flex;
}


.content-destination {
    display: flex;
    flex-direction: column;
}


.content-pick {
    display: flex;
}
